<div>
    <form action="/user/signin" method="post">
        <input type="email" placeholder="email" name="email" required><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="submit" value="signin">
    </form>
</div>