<div>
    <form action="/user/signup" method="post">
        <input type="text" placeholder="name" name="name" required><br>
        <input type="email" placeholder="email" name="email" required><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="password" name="conformPassword" placeholder="conform password" required><br>
        <input type="submit" value="signup">
    </form>
</div>